






.cards {
  .cards__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item-cart {
      box-shadow: 5px 8px 15px rgba(53, 74, 92, 0.1);
      border-radius: 10px;
      background-color: #ffffff;
      max-width: 410px;
      padding: 0 48px 44px 48px;
      margin-bottom: 70px;

      .item-card__image {

        img{
          display: block;
          margin: 0 auto;
          margin-top: -32px;
        }

      }

      .item-cart__title {
        color: #000000;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        font-style: normal;
        letter-spacing: 0.75px;
        line-height: normal;
        padding-top: 29px;
        font-family: $font_bold;

      }

      .item-cart__subtitle {
        color: #0964ff;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.63px;
        line-height: normal;
        padding-top: 22px;
        text-align: center;
        font-family: $font_bold;
      }

      .item-cart__txt {
        color: #25282d;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;
        padding-top: 25px;
        font-family: $font_light;

      }

      .item-cart__btn {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        a {
          color: #0964ff;
          display: block;
          font-family: $font_light;
          font-size: 17px;
          font-weight: bold;
          font-style: normal;
          letter-spacing: 0.37px;
          line-height: normal;
          border-radius: 28px;
          border: 2px solid #0964ff;
          padding: 14px 37px;
          text-decoration: none;
          transition: .5s;
          &:hover{

            background-image: linear-gradient(48deg, #53a3ff 0%, #005cff 100%);
            color: white;
            transition: .3s;
            border: 2px solid white;
          }

        }


      }

    }
  }
}